<h1>Welcome to <%= title %></h1>
<!-- <%= (JSON.stringify(locals)) %>  -->
<% if(locals.user) { %> 
<section>
    <h4>Create A Tweet!</h4>
    <form action="/tweets/create" method="POST">
        <textarea name="content" id="" cols="30" rows="10" placeholder="Your tweet.." required></textarea>
        <input type="submit" value="Create Tweet">
    </form>
</section>
<% } %> 
<div>
    <ul>
        <% for(tweet of tweets) { %>
            <li><h2><%= tweet.content %> </h2>
                <% if(locals.user && locals.user.id === tweet.user.id) { %> 
                    <form action="/tweets/destroy/<%= tweet._id %>" method="GET">
                        <input type="submit" value="Delete">
                    </form>
                <% } %> 
            </li>
            <small><b><%= tweet.user.name %></b></small>
            <div>
                <ul>
                    <% for(comment of tweet.comments) { %>
                        <li><%= comment.content %>
                            <% if(locals.user && locals.user.id === comment.user.id) { %> 
                                <form action="/comments/destroy/<%= comment._id %>" method="GET">
                                    <input type="submit" value="Delete">
                                </form>
                            <% } %> 
                        </li>
                        <small><%= comment.user.name %></small>
                    <% } %>
                    <% if(locals.user) { %> 
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" id="" placeholder="Your Comment.." required>
                            <input type="hidden" name="tweet" value="<%= tweet._id %>">
                            <input type="submit" value="Add comment">
                        </form>
                        <% } %> 
                </ul>
            </div>
            <hr>
        <% } %>  
    </ul>
</div> 