<link rel="stylesheet" href="/css/user-profile.css">
<div class="container col-lg-8">
    <h1><%= title%></h1>
    <p>
        <%= profile_user.name%>
    </p>
    <p>
        <%= profile_user.email%>
    </p>
    <img src="/users/images/<%= profile_user.avatar%>" class="img-thumbnail rounded-circle" alt="user avatar">
    
    <% if(profile_user.id == user.id){ %>
        <h4>Update Profile</h4>
        <form action="/users/update/<%= profile_user.id %>" method="POST">
            <input class=" mb-1 form-control" type="text" name="name" id="" placeholder="Edit profile" value="<%= profile_user.name %>" required>
            <button type="submit" class=" mb-3 btn btn-dark">Update User</button>
        </form>
        <form action="/users/updateAvatar" method="post" enctype="multipart/form-data">
            <input class=" mb-1 form-control" type="file" name="avatar" required/>
            <button type="submit" class=" mb-3 btn btn-dark">Update Avatar</button>
        </form>
    <% } %>
</div>